.link-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
  text-align: center;
}

.link {
  padding: 24px 32px;
  cursor: pointer;
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  margin: 10px 30px;
}

@media (max-width: 700px) {
  .link-text{
    font-size: 14px;
  }
}